<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117301014784-9eqt3lmsj489hrv0bnqaglq3239rh5vt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117301014784-9eqt3lmsj489hrv0bnqaglq3239rh5vt</string>
	<key>API_KEY</key>
	<string>AIzaSyAALsQSAGkSfEWxKciB7FMw90DyIhWt4SU</string>
	<key>GCM_SENDER_ID</key>
	<string>117301014784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abylay.RocketChat</string>
	<key>PROJECT_ID</key>
	<string>rocketchat-95803</string>
	<key>STORAGE_BUCKET</key>
	<string>rocketchat-95803.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117301014784:ios:ad525540f524c3195b43e5</string>
</dict>
</plist>